<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MosaicSample.Infrastructure.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <userSettings>
    <MosaicSample.Infrastructure.Properties.Settings>
      <setting name="ScalingFactor" serializeAs="String">
        <value>0.8</value>
      </setting>
      <setting name="Culture" serializeAs="String">
        <value>en-US</value>
      </setting>
    </MosaicSample.Infrastructure.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup><system.serviceModel>
    <bindings>
      <wsDualHttpBinding>
        <binding name="WSDualHttpBinding_ILogService"/>
        <binding name="WSDualHttpBinding_IAlarmManagementService"/>
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8761/CommonServices/LogService" binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_ILogService" contract="LogService.ILogService" name="WSDualHttpBinding_ILogService">
        <identity>
          <userPrincipalName value="renglputzeder@vistaprint.net"/>
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8759/CommonServices/AlarmManagementService" binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IAlarmManagementService" contract="AlarmManagementService.IAlarmManagementService" name="WSDualHttpBinding_IAlarmManagementService">
        <identity>
          <userPrincipalName value="renglputzeder@vistaprint.net"/>
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Caliburn.Micro" publicKeyToken="8e5891231f2ed21f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
