<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MosaicSample.Infrastructure.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MosaicSample.Infrastructure.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <userSettings>
    <MosaicSample.Infrastructure.Properties.Settings>
      <setting name="HomeScreenVertexPositions" serializeAs="String">
        <value>&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;ArrayOfModuleVertexViewModelBase xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
  &lt;ModuleVertexViewModelBase&gt;
    &lt;ID&gt;BRC&lt;/ID&gt;
    &lt;Position&gt;
      &lt;X&gt;-810.09816336622907&lt;/X&gt;
      &lt;Y&gt;-157.21138488651943&lt;/Y&gt;
    &lt;/Position&gt;
  &lt;/ModuleVertexViewModelBase&gt;
  &lt;ModuleVertexViewModelBase&gt;
    &lt;ID&gt;SimA&lt;/ID&gt;
    &lt;Position&gt;
      &lt;X&gt;-814.28517970788823&lt;/X&gt;
      &lt;Y&gt;100.70745934070001&lt;/Y&gt;
    &lt;/Position&gt;
  &lt;/ModuleVertexViewModelBase&gt;
  &lt;ModuleVertexViewModelBase&gt;
    &lt;ID&gt;SimB&lt;/ID&gt;
    &lt;Position&gt;
      &lt;X&gt;-529.165039065714&lt;/X&gt;
      &lt;Y&gt;-157.50000000000011&lt;/Y&gt;
    &lt;/Position&gt;
  &lt;/ModuleVertexViewModelBase&gt;
  &lt;ModuleVertexViewModelBase&gt;
    &lt;ID&gt;SimC1&lt;/ID&gt;
    &lt;Position&gt;
      &lt;X&gt;-446.66666666666561&lt;/X&gt;
      &lt;Y&gt;105.24389689362712&lt;/Y&gt;
    &lt;/Position&gt;
  &lt;/ModuleVertexViewModelBase&gt;
  &lt;ModuleVertexViewModelBase&gt;
    &lt;ID&gt;SimC2&lt;/ID&gt;
    &lt;Position&gt;
      &lt;X&gt;-252.55254149769417&lt;/X&gt;
      &lt;Y&gt;-100.09180821212138&lt;/Y&gt;
    &lt;/Position&gt;
  &lt;/ModuleVertexViewModelBase&gt;
  &lt;ModuleVertexViewModelBase&gt;
    &lt;ID&gt;FIN&lt;/ID&gt;
    &lt;Position&gt;
      &lt;X&gt;146.5615836712783&lt;/X&gt;
      &lt;Y&gt;105.7925406593003&lt;/Y&gt;
    &lt;/Position&gt;
  &lt;/ModuleVertexViewModelBase&gt;
&lt;/ArrayOfModuleVertexViewModelBase&gt;</value>
      </setting>
      <setting name="RecipeDefinitionFileName" serializeAs="String">
        <value>./RecipeDefinitions.json</value>
      </setting>
    </MosaicSample.Infrastructure.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <MosaicSample.Infrastructure.Properties.Settings>
      <setting name="IsSimulation" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsSimulatedStacklight" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnablePersistency" serializeAs="String">
        <value>False</value>
      </setting>
    </MosaicSample.Infrastructure.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
