<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="bootstrapper" type="VP.FF.PT.Common.Infrastructure.Bootstrapper.BootstrapperConfigSection.BootstrapperConfigSection, VP.FF.PT.Common.Infrastructure" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <bootstrapper rootFolderName="MosaicUI" mefAssemblyNamePattern="MosaicSample*.dll;VP.FF.PT*.dll;Cimpress.ACS*.dll">
    <ignorePaths>
      <add name="\UnitTests\" />
      <add name="\obj\" />
      <add name="\AutoTest.Net\" />
      <add name="\packages\" />
      <add name=".vshost.exe" />
      <add name=".mm.dll" />
    </ignorePaths>
    <additionalLookupPaths>
    </additionalLookupPaths>
  </bootstrapper>

  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %2thread %logger{1} - %message%newline" />
      </layout>
      <mapping>
        <level value="ERROR" />
        <foreColor value="White" />
        <backColor value="Red, HighIntensity" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <foreColor value="Purple" />
        <backColor value="Yellow, HighIntensity" />
      </mapping>
      <mapping>
        <level value="INFO" />
        <foreColor value="Green" />
      </mapping>
      <mapping>
        <level value="DEBUG" />
        <foreColor value="White" />
      </mapping>
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="${APPDATA}\Mosaic\Log_MosaicUI.log" />
      <appendToFile value="true" />
      <rollingStyle value="Once" />
      <maxSizeRollBackups value="20" />
      <maximumFileSize value="2MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %thread %logger{1} - %message%newline" />
      </layout>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="RollingFileAppender" />
    </root>
  </log4net>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="TcpBinding" closeTimeout="00:00:40" openTimeout="00:00:40"
          receiveTimeout="00:00:30" sendTimeout="00:00:30" maxBufferPoolSize="2147483647"
          maxBufferSize="2147483647" maxConnections="50" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
      <wsDualHttpBinding>
        <binding name="WSDualHttpBinding_ICommonServices" />
        <binding name="WSDualHttpBinding_IConfigurationService" />
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8750/CommonServices/CommonServices/"
        binding="netTcpBinding" bindingConfiguration="TcpBinding" contract="CommonServices.ICommonServices"
        name="TcpBinding_ICommonServices" />
      <endpoint address="net.tcp://localhost:8752/ConfigurationService/ConfigurationService"
        binding="netTcpBinding" bindingConfiguration="TcpBinding" contract="ConfigurationService.IConfigurationService"
        name="TcpBinding_IConfigurationService" />
      <endpoint address="net.tcp://localhost:8758/CommonServices/AlarmManagementService/"
        binding="netTcpBinding" bindingConfiguration="TcpBinding" contract="AlarmManagementService.IAlarmManagementService"
        name="TcpBinding_IAlarmManagementService" />
      <endpoint address="net.tcp://localhost:8760/CommonServices/LogService/"
        binding="netTcpBinding" bindingConfiguration="TcpBinding" contract="LogService.ILogService"
        name="TcpBinding_ILogService" />
      <endpoint address="net.tcp://localhost:8770/DemoModule/DemoModuleAService/"
        binding="netTcpBinding" bindingConfiguration="TcpBinding" contract="ServiceReference.IDemoModuleAService"
        name="TcpBinding_IDemoModuleAService" />
      <endpoint address="net.tcp://localhost:8772/DemoModule/DemoModuleBService/"
        binding="netTcpBinding" bindingConfiguration="TcpBinding" contract="ServiceReference.IDemoModuleBService"
        name="TcpBinding_IDemoModuleBService" />
      <endpoint address="net.tcp://localhost:8774/DemoModule/DemoModuleCService/"
        binding="netTcpBinding" bindingConfiguration="TcpBinding" contract="ServiceReference.IDemoModuleCService"
        name="TcpBinding_IDemoModuleCService" />
      <endpoint address="net.tcp://localhost:8776/FinishingStationModule/FinishingStationModuleService/"
        binding="netTcpBinding" bindingConfiguration="TcpBinding" contract="ServiceReference.IFinishingStationModuleService"
        name="TcpBinding_IFinishingStationModuleService" />
      <endpoint address="net.tcp://localhost:8778/EntryStation/EntryStationService/"
        binding="netTcpBinding" bindingConfiguration="TcpBinding" contract="EntryStationServiceReference.IEntryStationService"
        name="TcpBinding_IEntryStationService" />
    </client>
  </system.serviceModel>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Expression.Interactions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.14.0" newVersion="1.2.14.0" />
      </dependentAssembly>
     </assemblyBinding>
  </runtime>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

</configuration>
